{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for key, product in cart %}
            <tr>
                <th scope="row">{{ key + 1 }}</th>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.price }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}