{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>
                    <input class="btn btn-block btn-secondary btn-lg" type="button" value="Add" onclick="window.location.href='{{ path("cart", {name: product.name}) }}'">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}