.panel {
    margin-bottom: 5px!important;
}
.alert p:first-of-type, .panel h3:first-of-type {
    color: black !important;
}
.panel-body input:first-of-type, .panel-body span:first-of-type{
    margin: 0 10px;
}

.form-group span {
    width: 10%;
}

.input-group {
    width: 1000px;
}

.panel-heading div {
    float:right;
}

.panel-heading div button {
    float:right;
    margin:5px 10px;
}
button[data-color="red"] {
    background-image: url(../img/close-red.png)!important;
}
button[data-color="black"] {
     background-image: url(../img/close-black.png)!important;
 }